# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Build files
dist/

# Mac system files
.DS_Store

# Coverage directory 
coverage/

# Optional: IDE-specific files 
.vscode/
.idea/

# npm package-lock file 
package-lock.json
